<div class=" hbox w(100%) h(33.9%) bg(#4B4B4B) scroll-x">
        
    <div class="ml(5.623%)">
        <div class="bg(#6D6D6D) w(380) h(55) mt(10) c(white) Inter Semi Bold font(25) pack">
             <p>Keyword</p>
        </div>
        <div class="bg(#D9D9D9) w(380) h(220) mt(10) c(black) Inter Semi Bold font(25) pack">
            <p>video</p>
        </div>
    </div>
    <div class="ml(30)">
        <div class="bg(#6D6D6D) w(380) h(55) mt(10) c(white) Inter Semi Bold font(25) pack">
             <p>Keyword</p>
        </div>
        <div class="bg(#D9D9D9) w(380) h(220) mt(10) c(black) Inter Semi Bold font(25) pack">
            <p>video</p>
        </div>
    </div>
    <div class="ml(30)">
        <div class="bg(#6D6D6D) w(380) h(55) mt(10) c(white) Inter Semi Bold font(25) pack">
             <p>Keyword</p>
        </div>
        <div class="bg(#D9D9D9) w(380) h(220) mt(10) c(black) Inter Semi Bold font(25) pack">
            <p>video</p>
        </div>
    </div>
    <div class="ml(30)">
        <div class="bg(#6D6D6D) w(380) h(55) mt(10) c(white) Inter Semi Bold font(25) pack">
             <p>Keyword</p>
        </div>
        <div class="bg(#D9D9D9) w(380) h(220) mt(10) c(black) Inter Semi Bold font(25) pack">
            <p>video</p>
        </div>
    </div>
    <div class="ml(30)">
        <div class="bg(#6D6D6D) w(380) h(55) mt(10) c(white) Inter Semi Bold font(25) pack">
             <p>Keyword</p>
        </div>
        <div class="bg(#D9D9D9) w(380) h(220) mt(10) c(black) Inter Semi Bold font(25) pack">
            <p>video</p>
        </div>
    </div>
    <div class="ml(30)">
        <div class="bg(#6D6D6D) w(380) h(55) mt(10) c(white) Inter Semi Bold font(25) pack">
             <p>Keyword</p>
        </div>
        <div class="bg(#D9D9D9) w(380) h(220) mt(10) mr(30) c(black) Inter Semi Bold font(25) pack">
            <p>video</p>
        </div>
    </div>

</div>