<div class=" h(500) bg(black) mt(0)">
    <div class ="w(43) h(43) ml(25) ">
        <img src= "./assets/editing_before.png">
    </div>
    <div class="w(43) h(43) ml(25) mt(40)">
        <img src ="./assets/volume_before.png">
    </div>
    <div class="w(43) h(43) ml(25) mt(40)">
        <img src ="./assets/transition_before.png">
    </div>
    <div class="w(43) h(43) ml(25) mt(40)">
        <img src ="./assets/subtitles_before.png">
    </div>
    <div class="w(43) h(43) ml(25) mt(40)">
        <img src ="./assets/narrator_before.png">
    </div>

</div> 