<div class = " h(100%) bg(#1A1A1A) ">
    <div class="hbox">
        
        <div>
            <div class="c(white) font(25) Inter Semi Bold ml(20) mt(70)"><p>TIPS FOR SCRIPTING</p></div>
            <div class="c(white) font(23) Inter Regular m(20) mt(58)"><p>1. 자동으로 영상 & 자막 생성하기</p></div>
            <div class="c(#6D6D6D) font(18) Inter Regular m(40) mt(5)"><p>단락(행 변경)을 기준으로<br>영상 및 자막이 생성됩니다.</p></div>
            <div class="c(white) font(23) Inter Regular m(20) mt(10)"><p>2. 영상의 길이</p></div>
            <div class="c(#6D6D6D) font(18) Inter Regular m(40) mt(5)"><p>생성된 영상의 총 길이는 스크립트의<br>분량에 따라 달라집니다.</p></div>
            <div class="c(white) font(23) Inter Regular m(20) mt(10)"><p>3. 자막 요약</p></div>
            <div class="c(#6D6D6D) font(18) Inter Regular m(40) mt(5)"><p>자막 요약의 정도는<br>설정에 따라 다릅니다.</p></div>
        </div> 


    </div>

</div>