<div class = "bg(black)  h(100%)">
    <div class = "hbox w(340) h(80) bg(#2c2c2c) ml(10) mt(0) r(10)">
        <div class = "w(80) h(80)">
            <img src = "rectangle_3.png" class = "p(15) r(5)">
        </div>
        
        <div class="font(24) c(white) Inter Regular w(200) h(30) ">
            <p>WayneHills</p>
        </div>

        <div class="w(80) h(80) "></div>
    </div>

    <div  class = " w(360) ml(20) mt(26) font(20) Inter regular c(white) ">
        <details open>
            <summary class ="pointer" >VIDEOS</summary>
        <ul>
            <div class = "ml(40)">
                <nav>
                    <li>Text to Video</li>
                    <li>Text to Interative Video A.I</li>
                </nav>
            </div>
        </ul>
        </details>
    </div>

    <div class ="w(360) ml(20) mt(26) font(20) Inter regular c(white)">
        <details open>
            <summary class ="pointer" >IMAGES</summary>
        <ul>
            <div class = "ml(40)">
                <nav>
                    <li>Text to Image</li>
                    <li>Text to Picasso A.I</li>
                    <li>Text to Character A.I</li>
                    <li>Image to Image</li>
                    <li>Image to High Quality A.I</li>
                </nav>
                
            </div>
        </ul>
        </details>
    </div>

    <!--버튼 디자인이 피그마에 나와있는 디자인과 다릅니다. 버튼 디자인을 어떻게 변경해야하는지를 잘 모르겠습니다.-->
    <!-- 
        버튼의 그림 같은 경우에는 svg 를 이용하여 간단한 그림을 그릴 수 있습니다.
        svg는 쉽게 말해 컴퓨터가 이해할 수 있는 형태의 그림입니다.
        여기서의 수식은 원을 그릴 때는 원의 중심 좌표와 반지름을 표현하는 수식을 사용합니다. 
        직선을 그릴 때는 시작점과 끝점의 좌표를 사용하며, 곡선을 그릴 때는 제어점들과 시작/끝점의 좌표를 사용합니다.

        또한, 글씨와 버튼의 위치를 지정할 때는 hbox를 이용하는 방법도 있지만 
        span을 이용할 때는 상위 요소에 display: flex 라는 속성을 설정하면 됩니다.
        추가적으로 align-items: center; 이용하여 아이템들을 가운데에 위치하도록 설정
        justify-content: space-between; 이것을 통해 양끝으로 위치하도록 설정할 수 있습니다

        이러한 속성의 경우에는 adorablecss로 설정할 순 없으니 별도의 클래스명을 설정하여 scss에 설정해주시면 됩니다.
        ex) 아래의 class 끝에 보면 "items"가 있습니다.
        scss에 이를 지정하여 내부에 속성 설정해주시면 됩니다~!

        추가적으로 가로의 크기와 왼쪽, 오른쪽의 마진도 수정했습니다.
        w(360 -> 300)  ml(20 -> 40)  새로 추가 -> mr(40)

        My WorkSpace의 경우 디자인이 변경될 수 있으니 이를 참고하여 VIDEOS 와 IMAGES 를 다시 수정해보시면 좋을 것 같습니다.
     -->
    <div>
        <div class ="w(300) h(30) c(white) font(20) Inter regular ml(40) mr(40) mt(26) items">
            <span><p>My Workspace</p></span>
            <span class="mt(3)">
                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="3,3 17,3 10,17" fill="white" />
                </svg>                                    
            </span>
        </div>
        <div class =" hbox w(326) h(44) bg(#4B4B4B) ml(30) mt(15) r(30)">
            <div class= "c(white) Inter Medium font(20) w(162) pack ">
                <p>Feeds</p>
            </div>
            <div class ="h(30) pack w(2) bg(black)"></div>
            <div class= "c(white) Inter Medium font(20) w(162) pack ">
                <p>Assets</p>
            </div>
        </div>
    </div>

    <div class=" bg(#2C2C2C) w(340) h(166) r(10) ml(10) mt(100)" [hidden]="!isCheck" >
        <div class ="c(#AD7FE2) font(23) h(50) Inter Medium pack ">
            <p>Free Plan</p>
        </div>
        <div class ="w(340) h(2) bg(#D9D9D9)"></div>
        <div class="c(white) Inter Regular font(20) h(50) pack">
            <p>0 of 3 Productions</p>
        </div>
        <button type = "button" class ="w(300) h(48) bg(#946BEE) c(white) pack pointer font(20) Inter bold r(10) ml(20) b(1) b(white)">
            <p>Upgrade your plan</p>
        </button>
    </div>
</div>

