<div class="hbox">
    <div class="w(73%) h(500) bg(#1A1A1A) scroll-y">


    </div>

    <div class="w(27%) h(500) bg(black) scroll-y">
        <div class="w(400) h(48) bg(#4B4B4B) ml(10) pt(10) pl(8)">
            <div class="c(#D9D9D9) Inter Medium font(20)">
                <p>Script</p>
            </div>
        
            <div class ="hbox mt(15) h(310)">
                <div class ="c(#D9D9D9) Inter Medium font(18)">
                    <p>영상 1</p>
                </div>
                <div class = "c(#D9D9D9) bg(#7350EC) w(300) h(310) ml(20) pt(10) pl(10)">
                    <p>Script</p>
                </div>
            </div>
            <div class="hbox mt(15) h(310)">
                <div class ="c(#D9D9D9) Inter Medium font(18)">
                    <p>영상 2</p>
                </div>
                <div class = "c(#D9D9D9) bg(#7350EC) w(300) h(310) ml(20) pt(10) pl(10)">
                    <p>Script</p>
                </div>
            </div>
            
        </div>
    </div>
</div>